table {
    border:3px solid black;
    width:80%;
    border-collapse: collapse;
    margin:auto;
    background-color: beige;
}

tr {
  vertical-align:top;
}

td,th {
  border:1px solid black;
  padding:.5em;
}

table.client {
    margin:40px auto; /* T R B L */
}

table.client th {
    text-align: left;
    width:30%;
}

table.audience th {
    margin:40px auto; /* T R B L */
}

table.audience th{
    width:33.3%;
}